@font-face {
    font-family: 'Galmuri9';
    src: url('asset/font/Galmuri9.ttf') format('truetype');
}

* {
    margin-left: 10px;
    overflow-y: scroll;
    font-family: inherit; 
    font-variant-numeric: tabular-nums;
}
*::-webkit-scrollbar {
    display: none;
}

p {
    font-family: 'Galmuri9', serif;
    font-size: 20px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration-line: none;
    color:rgb(98, 146, 194);
    margin-left: 0px;
    transition: color 0.5s;
}
a:hover {
    color:rgb(26, 78, 219);
}

hr {
    height : 2px;
    background-color : rgb(98, 146, 194);
    border : 0;
    margin-left:0px;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

textarea {
    outline: none;
    border: none;
    background-color: rgb(232, 245, 247);
}

/*ID n CLASS*/

.tTitle {
    font-size: 40px;
    margin: 20px
}
.tVol {
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 20px;
    padding-bottom: 0px;
    background-color : rgb(239, 253, 255);
}

.moveLink {
    transition: color 0.5s, margin-left 0.3s;
}
.moveLink:hover {
    margin-left: 10px;
}

.tDtail {
    color:rgb(26, 78, 219);
}
.tGray {
    color:rgb(98, 146, 194);
}
.tNo {
    color:rgb(219, 26, 71);
}
.tYes {
    color:rgb(67, 188, 110);
}